#1) === PYTHON / DJANGO ===

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
.venv/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/
*.log
*.pot
local_settings.py



#2) === NODE / FRONTEND ===
node_modules/
dist/
build/
.npm/
.yarn/
.pnpm/
*.lock




#3) === JAVA / SPRING BOOT ===
target/
.gradle/
build/
*.class
*.jar
*.war
*.ear



# === IDE / SO ===
.DS_Store
.idea/
*.iml
.vscode/
Thumbs.db
